/*公用模块*/
.m-small-btn{padding:2px 4px !important;margin-right:20px;}
.m-listTitleFoot{width: 96%;margin: 10px 18px;}
.m-listTitleFoot label{display:block;width: 50%;}
.m-search-title {padding:0px 30px;font-size: 16px;}
.m-searchTab{border-collapse:collapse;text-align: center;font-size: 12px;color: #000;border: 1px solid #ddd}
.m-searchTab a{color:#43AAD4;cursor: pointer;}
.m-searchTab a:active{color:#5218f1}
.m-searchTab tr{height:35px;}
.m-searchTab tr:nth-child(odd){background: #fff;}
.m-details{margin: 0px 20px;}
.m-adminIcon{width: 14px;height: 14px;}
.m-headBar{line-height: 45px ;margin-right:1%;margin-left:1%;border-bottom: 1px solid #ccc;height:45px!important;}    
.m-title{padding: 20px 40px;}
.m-content{padding:0 20px;}
.m-jumplink{color: #43AAD4;text-decoration: underline;cursor: pointer;}
.m-btn{padding: 4px 40px;margin: 0 auto;border-radius:4px;outline: none;}
.m-btn-orange{border: 1px solid #FF8702;background: #FF8702;color: #fff;}
.m-btn-orange:active{box-shadow: 0 0 5px #FF8702;}
.m-btn-green{border: 1px solid #00AA00;background: #00AA00;color: #fff;}
.m-btn-green:active{box-shadow:  0 0 5px #00AA00;}
.m-btn-red{border: 1px solid #c14752;background: #c14752;color: #fff;}
.m-btn-red:active{box-shadow:  0 0 5px #c14752;}
.m-btn-search{padding: 6px 50px;}
.m-btn-small{padding: 2px 8px;}
.m-link-a{color: #43aad4;text-decoration: underline}
.m-list-title{height: 40px;padding: 0 20px;display: flex}
.m-list-title label{flex: 1}
.m-list-title label:nth-child(1){font-weight: bold}
.m-list-title label:nth-child(2){text-align: right}
.m-list-title label:nth-child(2) button{width: 70px;height: 25px;border-radius: 4px;border: 1px solid #00AA01;background: #00AA01;color: #fff;outline: none}
.m-list-title label:nth-child(2) button:active{box-shadow:  0 0 5px #00AA01}
.m-dialog { width: 100%; height: 100%; top: 0; left: 0; position: absolute; display: flex; align-items: center; justify-content: center; z-index: 999; }
.m-dialog-title { background: #e0e0e0;padding: 10px; }
.m-dialog-content { padding: 20px; }
.m-icon-close { cursor: pointer; float: right; display: block; width: 18px; height: 18px; background: url("../../assets/images/icon_close.png") no-repeat center; background-size: contain; }
.f-mt-10{margin-top: 10px}


table{font-size: 12px;margin: 0 ;padding: 0;border-spacing:0}
table tr{ margin: 0;padding: 0}
table tr td{ margin: 0;padding: 0;}
.m-searchlist-container{width: 96%;margin: 10px auto}
.m-searchlist-title{display: flex;}
.m-searchlist-title>span{flex: 1}
.m-searchlist-title>span:nth-child(1){font-size:14px;}
.m-searchlist-title>span:nth-child(2){text-align: right}
.m-searchlist-table{text-align: center;width: 100%;margin-top: 10px;border-collapse: collapse;border: 1px solid #E5E5E5}
.m-searchlist-table tr{height: 38px;}
.m-searchlist-table>tr:nth-child(even){background: #fff}
.m-searchlist-table>tr:nth-child(odd){background: #FAFAFA}
.m-searchlist-table>tr{border-bottom: 1px solid #e4e4e4}
.m-searchlist-table>tr:nth-child(1){background: #EEF1F6}
.m-searchlist-table>tr>td{width: 7.69%}
.m-searchlist-table2>tr>td{width: 7.69%}
.m-searchlist-table3>tr>td{width: 14%;}
.m-searchlist-table3>tr>td:not(:first-child){color: #a0a0a0}
.m-searchlist-table3{border-collapse: collapse}
.m-searchlist-table>tr:nth-child(odd) .m-searchlist-table3>tr:nth-child(even){background: #FAFAFA}
.m-searchlist-table>tr:nth-child(odd) .m-searchlist-table3>tr:nth-child(odd){background: #fff}
.m-searchlist-table>tr:nth-child(even) .m-searchlist-table3>tr:nth-child(odd){background: #FAFAFA}
.m-searchlist-table>tr:nth-child(even) .m-searchlist-table3>tr:nth-child(even){background: #fff}
.m-searchlist-table2>tr.border:first-child{border-top: 1px solid #e6e6e6}
.m-searchlist-table3>tr.border:not(:last-child){border-bottom: 1px solid #e6e6e6}
.m-button-switch button{width: 50px;height: 20px;outline: none;border: 1px solid #E5E5E5;background: #fff;font-size: 12px}
.m-button-switch button.active{background: #FE8800;border: 1px solid #FE8800;color: #fff}
.m-button-switch button:nth-child(1){border-radius: 10px 0 0 10px}
.m-button-switch button:nth-child(2){border-radius: 0 10px 10px 0}
