.w84{width:84px;}
.w240{width:240px!important;}
.mt8{margin-top: 8px}
.pl20{padding-left: 10px}
.buttonAddStaff{outline: none;width:70px;line-height: 12px;padding: 5px;box-sizing: border-box;border-radius: 4px;margin-top: 10px;border: 1px solid #ccc; }
.buttonAddStaff:active{box-shadow: 0 0 5px grey}
.greyFont{color:rgb(172, 172, 172)}
.redFont{color:red}
.blueFont{color:blue}
.blackFont{color:black}
.deepGreyFont{color:grey}
.fontWeight{font-weight: bold}
.f-s-14{font-size:14px;}
.searchResultInfo{text-align: center;font-size: 16px;font-weight: bold}
.borderInputHarf{border: 6px 0 0 6px;}
.searchResultInfoNone{font-weight:bold;font-size:16px;text-align:center;margin-top:30px;}
.tac{text-align: center!important;}
.c-blue{
    color: rgb(74, 74, 248);
}
.c-green{
    color: #4A9C40;
}
.c-yellow{
    color:#F78A24;
}
.c-red{
    color:rgb(247, 49, 49);
}
.borderBottom{
   margin-right:1%;
   margin-left:1%;
   border-bottom: 1px solid #ccc;
   padding-top:6px;
   width: 100%;
}
.small-btn{
    padding:3px 8px !important;
    margin-right:20px; 
}
.el-radio+.el-radio{margin-left:16px!important}