/* 宽高边距 */
.w84{width:84px;}
.w240{width:240px!important;}
.mt8{margin-top: 8px}
.pl20{padding-left: 10px}
.pr20{padding-right: 20px}
/* 字体字号颜色 */
.greyFont{color:#9c9c9c}
.redFont{color:red}
.blueFont{color:blue}
.blackFont{color:black}
.deepGreyFont{color:grey}
.fontWeight{font-weight: bold}
.tac{text-align: center!important;}
.tal{text-align: left;}
.tar{text-align: right;}
.c-blue{color: #4a4af8;}
.c-green{color: #4A9C40;}
.c-yellow{color:#F78A24;}
.c-red{color:#f73131;}
.f-s-12{font-size:12px;}
.f-s-14{font-size:12px;color:#666}
.f-s-16{font-size:16px;}
.f-s-18{font-size:18px;}
/* 行高,字间距 */
.lh30{line-height:30px}
.letterSpacing1{letter-spacing: 1px}
.t-linethrough{text-decoration:line-through}
/* 其他样式 */
.el-radio+.el-radio{margin-left:16px!important}
.buttonAddStaff{outline: none;width:70px;line-height: 12px;padding: 5px;box-sizing: border-box;border-radius: 4px;margin-top: 10px;border: 1px solid #ccc; }
.buttonAddStaff:active{box-shadow: 0 0 5px grey}
.searchResultInfo{text-align: center;font-size: 16px;font-weight: bold}
.borderInputHarf{border: 6px 0 0 6px;}
.searchResultInfoNone{font-weight:bold;font-size:16px;text-align:center;margin-top:30px;}
.displayInline{display: inline-block}
.borderBottom{margin-right:1%;margin-left:1%;border-bottom: 1px solid #ccc;padding-top:6px;width: 100%;}
.small-btn{padding:2px 4px !important;margin-right:20px;}

.listTitleFoot{width: 96%;margin: 10px 18px;}
.listTitleFoot label{display:block;width: 50%;}
/* .searchTab tr{padding-left: 20px;} */
/* .searchTab tr td{text-align: left;padding-left: 80px;} */
label.el-checkbox{display: inline}

/* 图标 */
.u-icon-del{display: inline-block;width: 20px;height:20px;background: url('../images/icon/delete.svg') no-repeat;background-size: 100%;cursor: pointer;}
/* 公共样式 */
.searchTitleStyle {padding:0px 30px;font-size: 16px;}
.el-row .textR{text-align: right;height: 100%}
.el-row .textL{text-align: left;}
.inputTitle{font-size: .14rem;}
table.searchTab{border-collapse:collapse;text-align: center;font-size: 12px;}
table.searchTab a{color:#43AAD4;cursor: pointer;}
table.searchTab a:active{color:rgb(82, 24, 241)}
/* table.searchTab tr td{ border-bottom:1px solid #ebebeb;} */
table.searchTab tr{height:35px;}
table.searchTab tr:nth-child(odd){background: #fff;}
table{color: #222}
div.detailsListDiv{margin: 0px 20px;border: 1px solid #e7e7e7;}
.searchBtn{width: 140px;height: 36px;background: #FE8800;border: 1px solid #FE8800;outline: none;border-radius: 8px;color: white}
.searchBtn:active{box-shadow: 0 0 5px red}
.grey{color: grey}
.fs16{font-size: 16px;}
.textDec{text-decoration: underline}
.fcdb{color: rgb(57, 67, 180)}
.fcb{color: black !important}
.fcaqua{color: #43AAD4 !important}
.fcgreen{color: #008800}
.fcred{color:red}
.adminIcon{width: 14px;height: 14px;}
.allDetails .detailsListDiv .searchTab{text-align:left;}
.allDetails .detailsListDiv .searchTab tr td{padding-left: 40px;}
.headTitleNav{line-height: 45px ;margin-right:1%;margin-left:1%;border-bottom: 1px solid #ccc;height:45px!important;}    
