.layui-m-layer {
    position: relative;
    z-index: 998
}

.layui-m-layer * {
    /*-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box*/
}

.layui-m-layermain,
.layui-m-layershade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.layui-m-layershade {
    background-color: rgba(0, 0, 0,0.3);
    pointer-events: auto
}

.layui-m-layermain {
    display: table;
    pointer-events: none
}

.layui-m-layermain .layui-m-layersection {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.layui-m-layerchild {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    font-size: 14px;
    border-radius: 13px;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, .2);*/
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s
}

@-webkit-keyframes layui-m-anim-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes layui-m-anim-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.layui-m-anim-scale {
    animation-name: layui-m-anim-scale;
    -webkit-animation-name: layui-m-anim-scale
}

@-webkit-keyframes layui-m-anim-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(800px);
        transform: translateY(800px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes layui-m-anim-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(800px);
        transform: translateY(800px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes bounceInUp {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
        transform: translate3d(0, 800px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
        -ms-transform: translate3d(0, 800px, 0);
        transform: translate3d(0, 800px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.layui-m-anim-up {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
}

.layui-m-layer0 .layui-m-layerchild {
    width: 80%
}

.layui-m-layer1 .layui-m-layerchild {
    border: none;
    /*border-radius: 0*/
}

.layui-m-layer2 .layui-m-layerchild {
    width: auto;
    max-width: 260px;
    min-width: 40px;
    border: none;
    background: 0 0;
    box-shadow: none;
    color: #fff
}

.layui-m-layerchild h3 {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.layui-m-layerbtn span,
.layui-m-layerchild h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.layui-m-layercont {
    padding:10px 15px;
    line-height: 22px;
    text-align: center
}

.layui-m-layer1 .layui-m-layercont {
    padding: 0;
    text-align: left
}

.layui-m-layer2 .layui-m-layercont {
    text-align: center;
    padding: 0;
    line-height: 0
}


.layui-m-layerbtn,
.layui-m-layerbtn span {
    position: relative;
    text-align: center;
    border-radius: 0 0 13px 13px
}

.layui-m-layer2 .layui-m-layercont>div {
    line-height: 22px;
    padding-top: 7px;
    margin-bottom: 20px;
    font-size: 14px
}

.layui-m-layerbtn {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    border-top: 1px solid #e1e1e1;
    /*background-color: #F2F2F2*/
}

.layui-m-layerbtn span {
    flex: 1;
    -webkit-flex: 1;
    font-size: 14px;
    cursor: pointer
}

.layui-m-layerbtn span[yes] {
    /*color: #40AFFE*/
    color:#007aff;
}

.layui-m-layerbtn span[no] {
    /*border-right: 1px solid #D0D0D0;*/
    border-right: 1px solid #e1e1e1;
    border-radius: 0 0 0 5px
}

.layui-m-layerbtn span:active {
    background-color: #F6F6F6
}

.layui-m-layerend {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 0;
    font-weight: 400;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 30px
}

.layui-m-layerend::after,
.layui-m-layerend::before {
    position: absolute;
    left: 5px;
    top: 15px;
    content: '';
    width: 18px;
    height: 1px;
    background-color: #999;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 3px
}

.layui-m-layerend::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

body .layui-m-layer .layui-m-layer-footer {
    position: fixed;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    background: 0 0
}

.layui-m-layer-footer .layui-m-layercont {
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, .8)
}

.layui-m-layer-footer .layui-m-layerbtn {
    display: block;
    height: auto;
    background: 0 0;
    border-top: none
}

.layui-m-layer-footer .layui-m-layerbtn span {
    background-color: rgba(255, 255, 255, .8)
}

.layui-m-layer-footer .layui-m-layerbtn span[no] {
    color: #FD482C;
    border-top: 1px solid #c2c2c2;
    border-radius: 0 0 5px 5px
}

.layui-m-layer-footer .layui-m-layerbtn span[yes] {
    margin-top: 10px;
    border-radius: 5px
}

body .layui-m-layer .layui-m-layer-msg {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    bottom: -250px;
    background-color: #fff;
    color: inherit;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.layui-m-layer-msg .layui-m-layercont {
    padding: 0 30px 0 10px;
    display: inline-block;
    vertical-align: top;
    height: 36px;
    line-height: 36px
}

.layui-m-layer-msg>.msgSkin {
    display: inline-block;
    height: 0.36rem;
    width: 0.36rem;
    background-size: 0.2rem;
}

.layui-m-layer-msg>.u-icon-success-no-circle {
    background-color: #13ce66;
}

.layui-m-layer-msg>.u-icon-clear {
    background-color: #ff4949
}

@media screen and (max-width: 640px){
	.layui-m-layer0 .layui-m-layerchild {
	    width: 92%
	}
}
