#detailsView{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: table; z-index: 997;text-align: center;}
#detailsView>div{display: table-cell;vertical-align: middle;}
#detailsView table{margin:auto;border-radius: 4px;background-color: #fff;border-collapse: collapse;table-layout: fixed;word-wrap:break-word;word-break: break-word;white-space: normal;}
#detailsView table td{padding:0px 10px;}
#detailsView table th{padding: 15px 0;border-radius: 4px 4px 0 0;color: #545454;font-size: 16px;}
#detailsView table td>.fl{width:1rem;text-align: right;}
#detailsView table td>.fright{margin-left: 1.05rem;text-align: left; }
.lay-mask{position:absolute;background-color: rgba(0,0,0,0.3);z-index: -1;width: 100%;height: 100%;top: 0;left: 0;}
.tdBtn span{ display: inline-block;width: 50%;height: 40px;padding-top: 11px;margin-top: 20px;box-sizing: border-box;cursor: pointer}
.tdBtn span:nth-child(1){border-top: 1px solid #ccc;border-right: 1px solid #ccc;color: red}
.tdBtn span:nth-child(2){border-top: 1px solid #ccc;color: green}
tbody tr{height: 36px;}
.tdBtn2 {cursor: pointer}
.tdBtn2 span{display: inline-block;width: 100%; box-sizing: border-box;border-top:1px solid #ccc;padding-top: 10px; }
.w84{width:84px}
.pdl12{padding-left:12px}
.m-input-phone p{width: 100%}
.m-input-phone p input{width:100%;padding: 0 10px;height: 30px;outline: none;border: 1px solid #e9e9e9;border-radius: 3px}
.m-input-phone p input:focus{border:1px solid #409EFF}
.m-module-manualInput>input::-webkit-input-placeholder, .m-input-phone p input::-webkit-input-placeholder{
    color:#bdbdbd;
}
.m-module-manualInput>input::-moz-placeholder, .m-input-phone p input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#bdbdbd;
}
.m-module-manualInput>input:-moz-placeholder, .m-input-phone p input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#bdbdbd;
}
.m-module-manualInput>input:-ms-input-placeholder, .m-input-phone p input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#bdbdbd;
}
.m-input-authCode{height:28px}
