input{border: 0 none;}
    .box{width: 140px;height: 26px;background-color: #808000;clear: both;}
    .box span{display: inline-block;height: 26px;}
    .span1{width: 100px;position: relative;background: red}
    .span2{width: 40px;position: relative;background: green}
    .input{ text-align: center;height: 26px;width:100px;position: absolute;top: 0;left: 0;border: 1px solid #ccc;outline: none}
    .button{height: 26px;width: 40px;font: normal 14px/14px "微软雅黑";background: #5daf34;color: #fff;outline: none}
    .m-button-split{outline:none;border:1px solid #7a7a7a;background: #a8a8a8;color: #fff;border-radius:3px;padding:2px 10px;cursor: pointer}
    .m-button-split2{outline:none;border:1px solid grey;border-radius:3px;padding:1px 5px;cursor: pointer}
    .m-button-split:active{box-shadow:0 0 5px grey }
    .m-button-split1{outline:none;border:1px solid #00AA01;color: #00AA01;border-radius:3px;padding:1px 8px;background-color: #fff;padding: 1px 4px;}
    .m-button-split1>span::after{content:'√';font-size:12px;};
    .m-button-split3{outline:none;border:1px solid #4fc7ff;color: #4fc7ff;border-radius:3px;padding:1px 8px;background-color: #fff;padding: 1px 4px;}
    .m-button-split3>span::after{content:'√';font-size:12px;};
    .buttonModifyYes{border-radius:4px;padding:5px 20px;background: #00AA01;border:1px solid #00AA01;outline: none;color:#fff;}
    .buttonModifyYes:active{box-shadow: 0 0 5px green}
    div.operate button{ padding: 4px 10px;margin-left: 10px;border-radius: 4px;border: 1px solid rgb(212, 212, 212);border-top:1px solid rgb(189, 189, 189);outline: none; background: -webkit-radial-gradient(ellipse ,rgb(218, 218, 218,1), rgb(218,218,218,0)); background: -o-radial-gradient(ellipse ,rgb(218,218,218,1), rgb(218,218,218,0)); background: -moz-radial-gradient(ellipse ,rgb(218,218,218,1), rgb(218,218,218,0)); background: radial-gradient(ellipse ,rgb(218,218,218,1), rgb(218,218,218,0));}
    div.operate button:active{box-shadow: 0 0 5px grey}
    .btnSyncNumber{outline:none;border-radius: 4px;background-color: #00AA01;border: 1px solid #00AA01;padding: 3px 6px;margin-right: 10px;color: #fff}
    div.borderTopModifyStaffState{margin-left: 1%;width: 98%;border-top: 2px solid #cacaca}

    .searchTab{border: none;border-spacing:0}
    .searchTab tr:nth-child(odd){background: transparent}
    .searchTab>tr:nth-child(even){background: #FFF}
    .searchTab .m-table2{border-spacing: 0}
    .searchTab>tr:nth-child(odd) .m-table3{border-spacing: 0}
    .searchTab>tr:nth-child(odd) .m-table3>tr:nth-child(odd){background: #FFF}
    .searchTab>tr:nth-child(odd) .m-table3>tr:nth-child(even){background: transparent}
    .searchTab>tr:nth-child(even) .m-table3>tr:nth-child(odd){background: #F1F2F3}
    .searchTab>tr:nth-child(even) .m-table3>tr:nth-child(even){background: transparent}
    .searchTab .m-table-title td{width: 7.14286%}
    .searchTab .m-table-title td:nth-child(1){width: 2%}
    /* .searchTab .m-table-title td:nth-child(2){width: 2%}
    .searchTab .m-table-title td:nth-child(3){width: 10%}
    .searchTab .m-table-title td:nth-child(4){width: 2%} */
    .searchTab .m-table1{width: 100%;padding: 0;margin: 0;border-spacing:0}
    .searchTab .m-table1>tr:nth-child(2)>td{border-top: 1px solid #E4E4E4}
    .searchTab .m-table1>tr:nth-child(2)>td{border-bottom: 1px solid #E4E4E4}
    .searchTab .m-table1>tr>td{width: 7.14286%}
    .searchTab .m-table1>tr>td:nth-child(1){width: 2%}
    /* .searchTab .m-table1>tr>td:nth-child(2){width: 2%}
    .searchTab .m-table1>tr>td:nth-child(3){width: 10%;border-right:1px solid #e4e4e4 }
    .searchTab .m-table1>tr>td:nth-child(4){width: 2%} */
    .searchTab .m-table3{border-spacing: 0}
    .searchTab .m-table3>tr>td{width: 10%}
    /* .searchTab .m-table3>tr>td:nth-child(1){width: 2%} */