* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

b {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 625%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F1F2F3;
  margin: auto;
  color: #48576a;
  font-family: "Microsoft YaHei", "Arial", "微软雅黑";
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.13rem;
}

button {
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

#app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 300px;
}


/*公共基础*/
.fl { float: left;}
.fr { float: right;}
.f-pl-10{padding-left: 10px;}
.f-ta-r{text-align: right;}
.f-ta-l{text-align: left;}
.f-ta-c{text-align: center!important;}
.f-bg-green{background: #00AA01;}
.f-bg-grey{background: #9c9c9c;}
.f-bg-blue{background: #20a0ff;}
.clr:after{ content: ''; display: table; clear: both;}
/**字体颜色大小**/
.black{ color: #000 !important;}
.red{ color: #E13722 !important;}
.grey{ color: #A5A5A5 !important;}
.blue{ color: #20A0FF !important;}
.green{ color: #008800 !important;}
.greyFont{color:#9c9c9c !important;}
.yellow{ color: #F78A24 !important;}
.purple{ color: #4b3887 !important;}
.deepBlue{ color:#5D6193 !important;}

.f-s-12{font-size:12px !important;}
.f-s-16{font-size:16px !important;}
.f-s-18{font-size:18px !important;}
.f-s-20{font-size:20px !important;}
.f-fs14{font-size: 14px !important;}
.f-fs16{font-size: 16px !important;}
.f-s-14{font-size:12px !important;color:#666}
.f-fw{font-weight: bold}
.f-display-f{display:flex}
.f-lh-30{line-height: 30px;}
.f-ls-1{letter-spacing: 1px}
.f-display-ib{display: inline-block}
.t-td-lt{text-decoration:line-through}
.f-td-underline{text-decoration: underline}

[class*=" u-icon"],
[class^="u-icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  vertical-align: middle;
}


/*body滚动条*/
/*滚动条整体部分*/
.f-scroll-lt::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
/*滚动条两端的按钮*/
.f-scroll-lt::-webkit-scrollbar-button {
  display: none !important;
}
/*外层轨道*/
.f-scroll-lt::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}
/*内层轨道*/
.f-scroll-lt::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
/*滚动条里面可以拖动的那部分*/
.f-scroll-lt::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/*边角*/
/* .f-scroll-lt::-webkit-scrollbar-corner {} */
/*定义右下角拖动块的样式*/
.f-scroll-lt::-webkit-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0.3);
}
.u-icon-success-no-circle{
    background-image: url("../images/rightssss.png");
}
.u-icon-clear{
    background-image: url("../images/error.png");
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        /*-webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0)*/
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        /*-webkit-transform: translate3d(0, 40px, 0);
        -ms-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0)*/
    }
    100% {
        opacity: 1;
        /*-webkit-transform: none;
        -ms-transform: none;
        transform: none*/
    }
}

.fadeInUp-enter-active {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

/*单选按钮*/
.m-form-radio, .m-form-checkbox{display: inline-block; position: relative;}
.m-form-radio>label{
    color: #1f2d3d;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none}
.m-form-radio>label>.text{font-size: 13px;padding-left: 5px;}
.m-form-radio>label>.radio{white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    /*line-height: 1;*/
    position: relative;
    vertical-align: middle}
.m-form-radio>label>.radio>span{border: 1px solid #bfcbd9;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;}
.m-form-radio>label>.radio>span:hover{border-color: #20a0ff}
.m-form-radio>label>.radio>span:after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    background: #20a0ff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
}
.m-form-radio>label>.radio>input{ opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0}
.m-form-radio>label>.radio>input:checked+span{
    border-color: #20a0ff;
}
.m-form-radio>label>.radio>input:checked+span:after{
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);-moz-transform: translate(-50%, -50%) scale(1);
}
/*单选按钮2*/
.m-form-radio>label>.radioYes{white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    /*line-height: 1;*/
    position: relative;
    vertical-align: middle}
.m-form-radio>label>.radioYes>span{border: 1px solid #bfcbd9;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;}
.m-form-radio>label>.radioYes>span:hover{border-color: #20a0ff}
.m-form-radio>label>.radioYes>span:after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    /* background: #20a0ff; */
    background-image: url("../images/icon/cc-yes-crude.svg");
    background-size: contain;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
}
.m-form-radio>label>.radioYes>input{ opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0}
.m-form-radio>label>.radioYes>input:checked+span{
    border-color: #20ff2b;

}
.m-form-radio>label>.radioYes>span:hover{border-color: #20ff2b}
.m-form-radio>label>.radioYes>input:checked+span:after{
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);-moz-transform: translate(-50%, -50%) scale(1);
}